/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/
/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */
html {
  max-width: 100%;
  overflow-x: hidden;
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
* A better looking default horizontal rule
*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
* Remove default fieldset styles.
*/
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
* Allow only vertical resizing of textareas.
*/
textarea {
  resize: vertical; }

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
Author's custom styles
========================================================================== */
.navbar-inverse {
  background-color: red;
  border: none;
  color: #fff; }
  .navbar-inverse .navbar-brand {
    background-color: #fff;
    color: red;
    -webkit-webkit-transition: background-color 0.5s ease;
    -moz-webkit-transition: background-color 0.5s ease;
    -ms-webkit-transition: background-color 0.5s ease;
    -o-webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease; }
  .navbar-inverse .navbar-nav {
    font-weight: bolder; }
    .navbar-inverse .navbar-nav a {
      text-align: center;
      color: #ffe6e6 !important; }
      .navbar-inverse .navbar-nav a:hover {
        background-color: darkred !important;
        color: #fff !important; }
    .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:hover {
      background-color: darkred; }

@media only screen and (max-width: 766px) {
  .navbar-inverse .navbar-collapse {
    border-top: 0; }

  .navbar-nav {
    margin: 0 -15px;
    border-left: 5px solid darkred; } }
/* ==========================================================================
Helper classes
========================================================================== */
/*
* Hide visually and from screen readers
*/
.hidden {
  display: none !important; }

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden; }

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
                        /* Black prints faster:
http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
  * Don't show links that are fragment identifiers,
  * or use the `javascript:` pseudo protocol
  */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
  * Printing Tables:
  * http://css-discuss.incutio.com/wiki/Printing_Tables
  */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/*
* Row with equal height columns
* --------------------------------------------------
*/
@font-face {
  font-family: edge;
  src: url(../fonts/good_times/good_times.ttf); }
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.navbar-brand {
  font-family: 'edge'; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.section-bar {
  background-color: whitesmoke;
  margin-bottom: 2px;
  font-family: 'edge'; }
  .section-bar .section-title {
    line-height: 1;
    padding: 8px;
    height: 50px;
    width: 30%;
    min-width: 200px;
    border-right: 5px solid darkred;
    display: inline-block;
    background-color: red; }
    .section-bar .section-title .title {
      height: 100%;
      padding-left: 10px;
      border-left: #fff;
      color: #fff;
      border-left: 10px solid #fff;
      font-weight: bolder; }
      .section-bar .section-title .title small {
        font-size: .7em; }

small {
  font-family: 'Arial, Helvetica, sans-serif'; }

section {
  min-height: 100vh;
  margin: 0;
  padding: 8px 0 5% 0; }
  section .container > .row {
    position: relative; }
  section.section-half {
    min-height: 50vh; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'edge'; }

#works {
  padding-top: 70px; }
  #works img {
    width: 100%;
    height: 100%; }
  #works .work-list {
    padding-bottom: 2px; }
  #works .work-header, #works .work-item {
    padding: 0 1px;
    box-sizing: border-box;
    position: relative; }
  #works .work-header:hover .overlay {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: red; }
  #works .work-header .overlay {
    text-align: center;
    color: red;
    background-color: rgba(255, 255, 255, 0.9);
    border-right: 4px solid #d9d9d9; }
  #works .work-item:hover .overlay {
    color: red;
    background-color: rgba(255, 255, 255, 0.95); }
    #works .work-item:hover .overlay small {
      color: #e60000; }
  #works .work-item .overlay {
    text-align: center;
    color: transparent; }
    #works .work-item .overlay i {
      display: block;
      padding-top: 15px;
      font-size: 2.2em; }

#simple-background span {
  margin: 2px 4px;
  display: inline-block; }

#coggle-background {
  position: relative; }
  #coggle-background .container {
    position: relative; }
  #coggle-background .section-bar {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    width: 100%;
    z-index: 99; }

#contact-me {
  padding: 0;
  background-color: #fafafa;
  color: red;
  min-height: 80vh;
  text-align: center; }
  #contact-me p {
    margin: 15px 0; }
  #contact-me .details {
    height: 80vh;
    padding: 5% 10px 10px 10px;
    background-color: #fff;
    text-align: center; }
    #contact-me .details h3 {
      font-family: 'Arial'; }
    #contact-me .details img {
      margin: 0 auto;
      padding: 0 20px; }
  #contact-me .info {
    height: 80vh;
    font-size: 1.5em;
    padding: 5% 10px 10px 10px; }
    #contact-me .info p {
      text-align: left;
      margin: 0 auto;
      max-width: 500px; }

iframe {
  height: 100vh;
  width: 100%;
  z-index: 5; }

.btn-toggle-coggle {
  height: 50px; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .fullheight {
    height: 768px; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .fullheight {
    height: 1024px; } }
/* iphone5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .fullheight {
    height: 320px; } }
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .fullheight {
    height: 568px; } }
/* iPhone 4 */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .fullheight {
    height: 320px; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .fullheight {
    height: 480px; } }

/*# sourceMappingURL=main.css.map */
